.clients {
  background-color: #012f34;
  padding: 4rem 0;
  text-align: center;
  color: $white;

  h2 {
    font-family: Livvic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 64px 140px;

    img {
      max-height: 40px;
      object-fit: contain;
    }
  }
}
